.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
rsconnect

# PreTeXt build outputs
output/
generated-assets/
.ptx/
cli.log
.error_schema.log
logs/
codechat_config.yaml
.devcontainer.json
